* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
    font-size: 62.5%;
}

.info-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 100vw;
    margin: 10px;
    font-size: 1rem;
}

.padre-presentacion {
    height: 10vh;
}

.contenedor-presentacion {
    background-color: rgb(25, 23, 23);
    display: flex;
    height: inherit;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-perfil {
    display: flex;
    flex-direction: row;
    height: inherit;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    margin: 5px;
}

.nav-perfil img {
    display: flex;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.nav-perfil a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.var-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.var-info img {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin: 5px;
}

.var-info a {
    display: flex;
    height: 15px;
    margin: 4px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.var-info .Github:hover {
    background-color: transparent;
    width: auto;
}

.var-info a:hover {
    background-color: rgb(204, 200, 170);
    color: black;
    border-radius: 15px;
}


.correo {
    display: none;
}

.proyectos {
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    min-height: 250px;
    width: 100%;
    margin: 15px;
    background-color: rgb(125, 124, 124);
    border-radius: 7px;
    font-size: 1.4rem;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.contacto {
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobre-mi {
    justify-content: space-around;
    flex-wrap: wrap;
}

.perfil {
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
    min-height: 250px;
    width: 100%;
    margin: 15px;
    background-color: rgb(125, 124, 124);
    border-radius: 7px;
    font-size: 1.4rem;
}
button {
    width: 9rem;
    height: 3rem;
    border-radius: 30rem;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}
button::before {
    content: '';
    width: 0;
    height: 3rem;
    border-radius: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #FFFFDD 0%, #D2DE32 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
button:hover::before {
    width: 9rem;
}