* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
}
html {
    font-size: 62.5%;
    min-height: 100vh;
}

.padre-presentacion {
    height: 100vh;
}

.info-proyectos {
    height: 150px;
}

.contenedor-presentacion {
    background-color: rgb(25, 23, 23);
    display: flex;
    height: 100vh;
    width: 15%;
    flex-direction: column;
    align-items: center;
}

.nav-perfil {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    margin: 15px;
}

.nav-perfil img {
    display: flex;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.nav-perfil a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.var-info {
    display: flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
}

.var-info img {
    display: flex;
    border-radius: 100%;
}

.var-info a {
    display: flex;
    height: 35px;
    width: 70%;
    margin: 15px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.var-info .Github:hover {
    background-color: transparent;
    width: auto;
}

.var-info a:hover {
    background-color: rgb(204, 200, 170);
    color: black;
    border-radius: 15px;
}
.correo {
    display: flex;
    height: 80px;
    width: 100vw;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.correo h4 {
    font-size: 1.3rem;
}

.correo p {
    font-size: 1rem;
}

.mas-contacto {
    display: flex;
    height: 40px;
    width: 200px;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.mas-contacto h4 {
    font-size: 1.4rem;
}

.mas-contacto p {
    font-size: 1.4rem;
}

.proyectos {
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
}

.contenedor-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 380px;
    margin: 15px;
    background-color: rgb(125, 124, 124);
    border-radius: 7px;
    font-size: 1.4rem;
}

.contacto {
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    margin-top: 20px;
    overflow: auto;
}

.sobre-mi {
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    margin-top: 20px;
    overflow: auto;
}

.perfil {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    overflow: auto;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: rgb(125, 124, 124);
    border-radius: 7px;
    text-align: center;
    font-size: 1.4rem;
}